h1{
  background-color: gray;
  height: 100px;
  width: 360px;
 padding: 20px;
 border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
overflow-x: hidden;
}
button{
  background-color: blue;
  color:white;
  padding:20px;
  margin-right: 15px  ;
}
input{
  color:white;
  padding:20px;
  margin-right: 15px  ;
  background-color: black;
  margin-top: 20px;
  width: 360px;
}
